<%- include('../partials/header') %>
    <div id="map"></div>
    <a href="/locations/new">Add A Location</a>
    <script>
        function initMap() {

            var crackShack = { lat: 32.727780, lng: -117.171300 };

            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: crackShack,
            });

            let myLocations = '<%- JSON.stringify(locations) %>'
            
            JSON.parse(myLocations).forEach((location) => {
                makeMarker(location)
            })

            function makeMarker(location) {
                let myLat = parseFloat(location.lat.$numberDecimal)
                let myLong = parseFloat(location.long.$numberDecimal)
                var marker = new google.maps.Marker({
                    map: map,
                    position: {lat: myLat, lng: myLong}
                });

                const infowindow = new google.maps.InfoWindow({
                    content: `
                        <h3><strong>${location.name}</strong></h3>
                        <br>
                        <a href='/locations/${location._id}'>Show Page</a>
                    `
                });
                marker.addListener("click", () => {
                    infowindow.open(marker.get("map"), marker);
                });
            }
        }
    </script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.API_KEY%>&callback=initMap">
    </script>
    <br>
    <div>
        <ul>
            <% locations.forEach(location => { %>
                <li>Name: <%= location.name %> | Lat: <%= location.lat %> | Long: <%= location.long %> | <a href="/locations/<%= location._id %>/on-map">See On Map</a></li>
            <% }) %>
        </ul>
    </div>
<%- include('../partials/footer') %>